<header class="bg-white py-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center px-6">
    <div class="flex items-center">
      <%= image_tag 'hl-logo.png' %>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-3">
      <div class="text-right">
        <div class="text-sm italic text-gray-400">Handcrafted by</div>
        <div class="text-sm font-semibold text-secondary-600">Jim HLS</div>
      </div>
      <div class="h-12 w-12">
        <%= image_tag 'jim-hls.png', class: 'h-full w-full rounded-full object-cover object-center ring ring-white'%>
      </div>
    </div>
  </div>
</header>
